<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${cateVO.grp}" class="title_line_text"></span > 
    > <span th:text="${cateVO.name}" class="title_line_text"></span > 
    > 글 등록
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <!-- <a th:href="@{|./list_by_cateno_search_paging?cateno=${cateVO.cateno }|}">기본 목록형</a>    
    <span class='menu_divide' >│</span> -->
    <!-- 쇼핑몰을 갤러리 형으로만 유지 결정. 목록형은 지움. -->
    <a th:href="@{|./list_by_cateno_grid?cateno=${cateVO.cateno }|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${productsVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="cateno" th:value="${cateVO.cateno }">
    
    <div>
       <label>제목</label>
       <input type='text' name='title' value='상품 제목을 등록해 주세요.' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;'>상품 설명을 등록해 주세요 </textarea>
    </div>
    <!-- 부가 적인 상품 관련 추가 -->
    <div>
       <label>정가</label>
       <input type='number' name='price' value='10000' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>할인률 (%)</label>
       <input type='number' name='dc' value='10' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>판매가</label>
       <input type='number' name='saleprice' value='9000' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
      <label>소비기한</label>
      <input type="date" name="expdate" class="form-control" style="width: 50%;" required="required">
    </div>

    <div>
       <label>포인트</label>
       <input type='number' name='point' value='100' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>재고 수량</label>
       <input type='number' name='salecnt' value='50' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <!-- 부가 적인 상품 관련 추가 -->
    <div>
       <label>검색어</label>
       <input type='text' name='word' value='못난이 채소, 유기농, 농장, 건강, 세일, 할인' required="required" 
              class="form-control" style='width: 100%;'>
    </div>   
    <!-- 이미지1 추가 -->
    <div>
       <label>이미지 1</label>
       <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>  
    <!-- 이미지2 추가 -->
    <div>
      <label>이미지 2</label>
      <input type='file' class="form-control" name='file2MF' id='file2MF' value='' placeholder="파일 선택">
    </div>
    <!-- 이미지3 추가 -->
    <div>
      <label>이미지 3</label>
      <input type='file' class="form-control" name='file3MF' id='file3MF' value='' placeholder="파일 선택">
    </div>
    <!-- 광고 이미지 추가 -->
    <div>
      <label>광고 이미지 (펼침 영역)</label>
      <input type='file' class="form-control" name='fileAdMF' id='fileAdMF' placeholder="광고용 배너 이미지 선택">
    </div>
    <!-- ✅ 상품 상세 정보 입력 항목 -->
    <hr>
    <h4>상품 상세 정보</h4>

    <div>
      <label>품목 또는 명칭</label>
      <input type="text" name="item" value="상품명 참조" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>생산자(수입자)</label>
      <input type="text" name="maker" value="상세페이지 참조" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>제조연월일, 소비기한 또는 품질유지기한</label>
      <input type="text" name="makedate" value="제품에 별도 표시" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>수입식품 문구 여부</label>
      <input type="text" name="importyn" value="해당사항 없음" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>보관방법, 취급방법</label>
      <input type="text" name="keep" value="냉장 보관 (0~10도)" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>소비자상담 관련 전화번호</label>
      <input type="text" name="counsel_tel" value="1234-5678" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>포장단위별 용량(중량), 수량, 크기</label>
      <input type="text" name="sizeinfo" value="1kg, 2개입, 30x20x10cm" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>원산지</label>
      <input type="text" name="origin" value="국산" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>세부 품목군별 표시사항</label>
      <input type="text" name="detail" value="농산물 > 과일류" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>상품 구성</label>
      <input type="text" name="pack" value="못난이 사과 2kg + 친환경 포장" class="form-control" style="width: 100%;">
    </div>
    <div>
      <label>소비자 안전을 위한 주의사항</label>
      <input type="text" name="safe" value="상온 보관 금지, 유통기한 내 섭취" class="form-control" style="width: 100%;">
    </div>

    <div>
       <label>패스워드</label>
       <input type='password' name='passwd' value='1234' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>   
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_cateno_search_paging_grid?cateno=${cateVO.cateno}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>

