<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${cateVO.grp}" class="title_line_text"></span >
    > <span th:text="${cateVO.name}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <!-- <span th:if="${session.grade == 'admin'}"> -->
    <span th:if="${session.grade == 'admin' or session.grade == 'supplier'}"></span>
      <a th:href="@{|/products/create?cateno=${cateVO.cateno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <!-- <a th:href="@{|./list_by_cateno?cateno=${cateVO.cateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span> -->
    <!-- 쇼핑몰을 갤러리 형으로만 유지 결정. 목록형은 지움. -->
    <a th:href="@{|./list_by_cateno_grid?cateno=${cateVO.cateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
    
  </aside> 

  <!-- /products/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{products/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="productsVO, status:${list}" 
         th:attr="onclick=|location.href='/products/read?productsno=${productsVO.productsno}&word=${word}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${productsVO.file1.endsWith('jpg') or productsVO.file1.endsWith('png') or productsVO.file1.endsWith('gif') or productsVO.file1.endsWith('jpeg')}">
          <img th:src="@{|/products/storage/${productsVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>

        <div th:if="${((productsVO.file1.endsWith('jpg') or productsVO.file1.endsWith('png')  or productsVO.file1.endsWith('gif') or productsVO.file1.endsWith('jpeg')) == false) and (productsVO.size1 > 0)}">
          <span th:text="${productsVO.file1}"></span>
        </div>

        <div th:if="${productsVO.size1 == 0}">
          <img src="/products/images/none1.png" style="width: 120px; height: 90px;">
        </div>
                
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${productsVO.title}" style="font-weight: bold;"></span>
        <span th:text="| ${productsVO.rdate.substring(0, 10)}|"></span><br>
        
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 