<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <script>
    // window.onload = function() {
    window.onload = () => {
      let content_tag = document.getElementById('content');
      let emotion_tag = document.getElementById('emotion');
      let summary_tag = document.getElementById('summary');
      let send_tag = document.getElementById('send');
      let result_animation_tag = document.getElementById('result_animation');
      let frm = document.getElementById('frm');
      let pwd_tag = document.getElementById('pwd');

      // async: 비동기 통신, 일단 요청을 하고 응답이 즉시 안와도 에러가 발생 안됨, 응답이 오면 그때 이어서 처리. 
      send_tag.addEventListener("click", async function () {
        let content = content_tag.value;
        let pwd = pwd_tag.value;
        let contentsno = document.querySelector('input[name="contentsno"]').value;
      
        fetch("/contents/passwd_check", {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            pwd: pwd,
            contentsno: parseInt(contentsno),
            content: content
          })
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("pwd check data : " + data["res"]);
        
        if(data['res'] == 1) {
          fetch("/contents/emotion", {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ content }) // {"article": article}
          })
          .then((response) => response.json())
          .then((data) => {
          console.log("data : " + data["res"]);
          emotion_tag.value = data["res"];
    
          fetch("/contents/summary", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ content }) // {"article": article}
            })
            .then((response) => response.json())
            .then((data) => {
            console.log("summary data : " + data["res"]);
            summary_tag.value = data["res"];
            result_animation_tag.style.display='none';
            frm.submit();
            });
          });
          
          result_animation_tag.style.display='block';
          result_animation_tag.innerHTML="<img src='/images/progress.gif' style='width: 5%;'>"; 
          }
          
          else {
            alert('비밀번호가 틀렸습니다');
          }
      });
      
     });
    }
  </script>
  <div class='title_line'>
    <span th:text="${cateVO.grp }" class="title_line_text"></span > 
    > <span th:text="${cateVO.name}" class="title_line_text"></span > 
    > 글 수정
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create?cateno=${cateVO.cateno }|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_search_paging?cateno=${cateVO.cateno }|}">기본 목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cateno=${cateVO.cateno }|}">갤러리형</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' id='frm' method='post' th:object="${contentsVO}" action='./update_text'>
    <input type="hidden" name="cateno" th:value="${cateVO.cateno }">
    <input type="hidden" name="contentsno" th:value="${contentsVO.contentsno }">
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">
    <input type="hidden" id="emotion" name="emotion" value="">
    <input type="hidden" id="summary" name="summary" value="">
    
    <div>
       <label>제목</label>
       <input type='text' name='title' th:value='${contentsVO.title}' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea id='content' name='content' required="required" class="form-control" rows="12" style='width: 100%;' 
                      th:text='${contentsVO.content}'></textarea>
    </div>
    <div>
       <label>검색어</label>
       <input type='text' name='word' th:value='${contentsVO.word}' required="required" 
                 class="form-control" style='width: 100%;'>
    </div>   
    <div>
       <label>패스워드</label>
       <input type='password' id="pwd" name='passwd' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>

    <div class="content_body_bottom">
      <button type="button" id='send' class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_cateno_search_paging?cateno=${cateno}'|" class="btn btn-secondary btn-sm">목록</button>
      <span id="result_animation" style="display: none;"></span>
    </div>
      
  </form>

</div>


