<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${cateVO.grp }" class="title_line_text"></span > 
    > <span th:text="${cateVO.name}" class="title_line_text"></span > 
    > 글 수정
  </div>
  
  <aside class="aside_right">
    <!-- <a th:if="${cateVO.cateno != null}" th:href="@{|./create?cateno=${cateVO.cateno}|}">등록</a>
    <span class='menu_divide' >│</span> -->
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <!-- <a th:href="@{|./list_by_cateno_search_paging?cateno=${cateVO.cateno }|}">기본 목록형</a>    
    <span class='menu_divide' >│</span> -->
    <!-- 쇼핑몰을 갤러리 형으로만 유지 결정. 목록형은 지움. -->
    <a th:if="${cateVO.cateno != null}" th:href="@{|./list_by_cateno_grid?cateno=${cateVO.cateno}|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${productsVO}" action='./update_text'>
    <input type="hidden" name="cateno" th:value="${cateVO.cateno }"><input type="hidden" name="cateno" th:if="${cateVO.cateno != null}" th:value="${cateVO.cateno}">
    <input type="hidden" name="productsno" th:value="${productsVO.productsno }">
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">
    
    <div>
       <label>제목</label>
       <input type='text' name='title' th:value='${productsVO.title}' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;' 
                      th:text='${productsVO.content}'></textarea>
    </div>
    <!-- 부가 적인 상품 관련 추가 -->
    <div>
       <label>정가</label>
       <input type='number' name='price' th:value='${productsVO.price}' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>할인률 (%)</label>
       <input type='number' name='dc' th:value='${productsVO.dc}' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>판매가</label>
       <input type='number' name='saleprice' th:value='${productsVO.saleprice}' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
       <label>포인트</label>
       <input type='number' name='point' th:value='${productsVO.point}' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <div>
      <label>소비기한</label>
      <input type="date" name="expdate" class="form-control" style="width: 50%;" required="required">
    </div>
    <div>
       <label>재고 수량</label>
       <input type='number' name='salecnt' th:value='${productsVO.salecnt}' required="required" 
              class="form-control" style='width: 50%;'>
    </div>
    <!-- 부가 적인 상품 관련 추가 -->
    <div>
       <label>검색어</label>
       <input type='text' name='word' th:value='${productsVO.word}' required="required" 
                 class="form-control" style='width: 100%;'>
    </div>   
    <div>
       <label>패스워드</label>
       <input type='password' name='passwd' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button"
        th:if="${cateVO.cateno != null}"
        th:attr="onclick=|location.href='/products/list_by_cateno_grid?cateno=${cateVO.cateno}&now_page=${now_page}&word=${word}'|"
        class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>


